# Webscrapping

In [115]:
from bs4 import BeautifulSoup
import requests

In [116]:
url = 'https://en.wikipedia.org/wiki/2019_Indian_general_election'
page = requests.get(url)

In [117]:
soup = BeautifulSoup(page.content, 'html.parser')

In [118]:
all_tables = soup.find_all('table')

In [119]:
my_table = all_tables[5]

In [120]:
table_rows = my_table.find_all('tr')

In [121]:
date = []
for date_item in table_rows[2].find_all('td'):
    date.append(date_item.text.strip())
date

['11 April', '18 April', '23 April', '29 April', '6 May', '12 May', '19 May']

In [122]:
progress = []
for progress_item in table_rows[3].find_all('td'):
    progress.append(progress_item.text.strip())
progress.pop(0)
progress

['91', '95', '116', '71', '51', '59', '59']

In [123]:
election_data = dict(zip(date,progress))

In [124]:
state_list = []
total_seats = []
ph_1 = []
ph_2 = []
ph_3 = []
ph_4 = []
ph_5 = []
ph_6 = []
ph_7 = []

for row in table_rows[4:40]:
    row_data = row.find_all('td')
    state_list.append(row_data[0].text)
    total_seats.append(row_data[1].text)
    ph_1.append(row_data[2].text)
    ph_2.append(row_data[3].text)
    ph_3.append(row_data[4].text)
    ph_4.append(row_data[5].text)
    ph_5.append(row_data[6].text)
    ph_6.append(row_data[7].text)
    ph_7.append(row_data[8].text.strip())

In [125]:
import pandas as pd
pd.DataFrame([state_list,total_seats,ph_1,ph_2,ph_3,ph_4,ph_5,ph_6,ph_7]).transpose()

                              0   1   2   3     4     5      6   7   8
0                Andhra Pradesh  25  25
1             Arunachal Pradesh   2   2
2                         Assam  14   5   5     4
3                         Bihar  40   4   5     5     5      5   8   8
4                  Chhattisgarh  11   1   3     7
5                           Goa   2             2
6                       Gujarat  26            26
7                       Haryana  10                             10
8              Himachal Pradesh   4                                  4
9          Jammu and Kashmir[a]   6   2   2  ​1⁄3  ​1⁄3  1​1⁄3
10                    Jharkhand  14                   3      4   4   3
11                    Karnataka  28      14    14
12                       Kerala  20            20
13               Madhya Pradesh  29                   6      7   8   8
14                  Maharashtra  48   7  10    14    17
15                      Manipur   2   1   1
16                    Meghalaya   2   2
17                      Mizoram   1   1
18                     Nagaland   1   1
19                       Odisha  21   4   5     6     6
20                       Punjab  13                                 13
21                    Rajasthan  25                  13     12
22                       Sikkim   1   1
23                Tamil Nadu[b]  38      38
24                    Telangana  17  17
25                      Tripura   2   1         1
26                Uttar Pradesh  80   8   8    10    13     14  14  13
27                  Uttarakhand   5   5
28                  West Bengal  42   2   3     5     8      7   8   9
29  Andaman and Nicobar Islands   1   1
30                   Chandigarh   1                                  1
31       Dadra and Nagar Haveli   1             1
32                Daman and Diu   1             1
33                        Delhi   7                              7
34                  Lakshadweep   1   1
35                   Puducherry   1       1

In [126]:
dict(zip(zip(state_list,total_seats),zip(ph_1,ph_2,ph_3,ph_4,ph_5,ph_6,ph_7)))

{('Andhra Pradesh', '25'): ('25', '', '', '', '', '', ''),
 ('Arunachal Pradesh', '2'): ('2', '', '', '', '', '', ''),
 ('Assam', '14'): ('5', '5', '4', '', '', '', ''),
 ('Bihar', '40'): ('4', '5', '5', '5', '5', '8', '8'),
 ('Chhattisgarh', '11'): ('1', '3', '7', '', '', '', ''),
 ('Goa', '2'): ('', '', '2', '', '', '', ''),
 ('Gujarat', '26'): ('', '', '26', '', '', '', ''),
 ('Haryana', '10'): ('', '', '', '', '', '10', ''),
 ('Himachal Pradesh', '4'): ('', '', '', '', '', '', '4'),
 ('Jammu and Kashmir[a]', '6'): ('2',
  '2',
  '\u200b1⁄3',
  '\u200b1⁄3',
  '1\u200b1⁄3',
  '',
  ''),
 ('Jharkhand', '14'): ('', '', '', '3', '4', '4', '3'),
 ('Karnataka', '28'): ('', '14', '14', '', '', '', ''),
 ('Kerala', '20'): ('', '', '20', '', '', '', ''),
 ('Madhya Pradesh', '29'): ('', '', '', '6', '7', '8', '8'),
 ('Maharashtra', '48'): ('7', '10', '14', '17', '', '', ''),
 ('Manipur', '2'): ('1', '1', '', '', '', '', ''),
 ('Meghalaya', '2'): ('2', '', '', '', '', '', ''),
 ('Mizoram', '1'): ('1', '', '', '', '', '', ''),
 ('Nagaland', '1'): ('1', '', '', '', '', '', ''),
 ('Odisha', '21'): ('4', '5', '6', '6', '', '', ''),
 ('Punjab', '13'): ('', '', '', '', '', '', '13'),
 ('Rajasthan', '25'): ('', '', '', '13', '12', '', ''),
 ('Sikkim', '1'): ('1', '', '', '', '', '', ''),
 ('Tamil Nadu[b]', '38'): ('', '38', '', '', '', '', ''),
 ('Telangana', '17'): ('17', '', '', '', '', '', ''),
 ('Tripura', '2'): ('1', '', '1', '', '', '', ''),
 ('Uttar Pradesh', '80'): ('8', '8', '10', '13', '14', '14', '13'),
 ('Uttarakhand', '5'): ('5', '', '', '', '', '', ''),
 ('West Bengal', '42'): ('2', '3', '5', '8', '7', '8', '9'),
 ('Andaman and Nicobar Islands', '1'): ('1', '', '', '', '', '', ''),
 ('Chandigarh', '1'): ('', '', '', '', '', '', '1'),
 ('Dadra and Nagar Haveli', '1'): ('', '', '1', '', '', '', ''),
 ('Daman and Diu', '1'): ('', '', '1', '', '', '', ''),
 ('Delhi', '7'): ('', '', '', '', '', '7', ''),
 ('Lakshadweep', '1'): ('1', '', '', '', '', '', ''),
 ('Puducherry', '1'): ('', '1', '', '', '', '', '')}

In [150]:
election_rows = list(zip(state_list,total_seats, ph_1,ph_2,ph_3,ph_4,ph_5,ph_6,ph_7))

In [153]:
import sqlite3

conn = sqlite3.connect('election.db')
c = conn.cursor()

c.execute('''CREATE TABLE election 
    (state text, total_seats text, phase_1 text, phase_2 text, phase_3 text,
    phase_4 text, phase_5 text, phase_6 text, phase_7 text)''')

c.executemany("INSERT INTO election(state, total_seats, phase_1, phase_2, phase_3, phase_4, phase_5, phase_6, phase_7) VALUES (?,?,?,?,?,?,?,?,?)",election_rows)
conn.commit()
conn.close()

OperationalError: table election already exists

In [141]:
# # Larger example that inserts many records at a time
# purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
#              ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
#              ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
#             ]
# c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [156]:
conn = sqlite3.connect('election.db')
c = conn.cursor()
c.execute("select * from election where state = 'Andhra Pradesh'")
print(c.fetchall())

[('Andhra Pradesh', '25', '25', '', '', '', '', '', '')]